.row {
  width: 95% !important;
}
.col {
  width: 100%;
}
.row li {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  padding: 10px 0px;
  margin: 0px auto;
}
.blogImage {
  width: 5%;
  text-align: center;
}
.username {
  width: 65% !important;
}
.commentLike {
  width: 15%;
}
/* .blogImage img {
  width: 100%;
  height: 100%;
} */
.button button {
  cursor: pointer;
  border: none;
  background: white;
}
.button {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
}
.like-and-comment,
.like-and-comment span {
  display: flex;
  align-items: end;
  gap: 0.3rem;
  justify-content: space-around;
}
/* .commentLike {
  margin: 0px 3rem;
} */
