.statistics h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: #052041;
}
.chat-logo {
  width: 50%;
  height: 50%;
}
.chat-logo img {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
@media only screen and (max-width: 800px) {
  .chat-logo {
    display: none;
  }
}
