* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* flex-wrap: wrap;
  gap: 20px; */
}
body::-webkit-scrollbar {
  display: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
}
/* Header css */
header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: white;
  border-bottom: 2px solid #1a559b;
}
.container {
  height: 60px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  align-items: center;
}
.container a {
  color: #1a559b;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  background: white;
}
.logOfHeader {
  margin-left: 50px;
}
.navbar {
  display: grid;
  height: 60px;
  left: 401px;
  top: 0px;
  background: white;
}
.navBarText {
  display: grid;
  margin-left: 5rem;
}
.container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.navBarText li {
  cursor: pointer;
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}
.navBarText li:hover {
  border-bottom: 2px solid #1a559b;
  color: #1a559b;
  /* font-size: 15px; */
  transition: 0.5s ease-in-out;
  /* transform: scale(1.2); */
}
.loginBtn {
  display: grid;
  height: 60px;
  background-color: #fff;
}
.btn {
  cursor: pointer;
  color: #1a559b;
  height: 40px;
  width: 100px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 30px;
  border: 2px solid #1a559b;
}
.btn:hover {
  color: #ffffff;
  background-color: #165299;
  border-radius: 30px;
  transition: 0.5s linear;
  border: 2px solid #fff;
}
.Btn {
  cursor: pointer;
  font-family: arial;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  padding: 10px;
  color: #165299;
  background-color: white;
  border-radius: 30px;
  transition: 0.3s linear;
  border: 2px solid #165299;
}
iconify-icon {
  margin-left: 5px;
}
.Btn:hover {
  color: #165299;
  background-color: rgb(202, 255, 252);
  border-radius: 30px;
  transition: 0.3s linear;
  border: 2px solid #165299;
}
iconify-icon:hover {
  transition: all 0.5s ease-in-out;
  transform: rotate(359deg);
}

/* main css */

main {
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 3rem;
}
.main h2 {
  margin-left: 3rem;
  font-size: 20px;
  font-family: arial;
  font-weight: 100;
  line-height: 1;
}
.main span {
  color: #165299;
}
.main h1 {
  color: #165299;
  font-size: 45px;
  font-weight: border;
  line-height: 1.5;
}
.main p {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.07em;
  color: #000000;
  width: 80%;
}
.levelS {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #000000 !important;
}

.btn-exp {
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  left: 35%;
  width: max-content;
}
.btn-display {
  display: flex;
}
.btn-m {
  margin-top: 20px;
}
.yText {
  font-size: 30px;
}
.yColor {
  color: rgba(149, 159, 171, 1) !important;
}

/* Asidebar css */
.profile > img {
  width: 26vw;
  height: 70vh;
  position: relative;
  left: 1rem;
  top: 1rem;
  border-bottom: 8px solid #165299;
  border-radius: 0px 80px;
}
/* ************************End of Home page section *********************/

/* About me section start */
section {
  padding: 15px 10px;
  margin-top: 70px;
}
.my-image {
  width: 17rem;
  height: 17rem;
}
.my-image img {
  border-radius: 50%;
  width: 15rem;
  height: 17rem;
}
.section-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #102f54;
}
.section-title::after {
  content: "__________";
  color: #102f54;
  height: 2px;
}
.section-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #484a5a;
}
.hero span {
  color: #162399;
}
.section-description {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #1010890a;
  border-right: 2px solid #10108905;
  border-bottom: 2px solid #101089;
  border-left: 0px solid #1010890a;
  margin-right: 3rem;
}
.description p {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  line-height: 1.3em;
  margin: 20px 30px 25px 0px;
  width: 350px;
}
.section-main ul {
  font-size: 14px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
.section-main li {
  margin: 5px 0px;
}
li span {
  font-weight: bolder;
  color: #102f54;
}
.cvBtn {
  margin-top: 30px;
}
.section-end {
  margin-top: 30px;
}
.section-end ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-end li {
  display: flex;
  color: rgb(8, 92, 131);
  font-weight: bold;
}
.section-end iconify-icon {
  margin-right: 10px;
}

/* **************end of about page*********** */

/* Skills page */

.containerSkills {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card {
  padding: 20px;
  width: 300px;
  height: 380px;
}
.card ul {
  margin: 10px 20px 20px 47px;
  line-height: 2em;
}
.card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card h2 {
  margin-left: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #175399;
}

.card1 {
  background: #ffffff;
  border-width: 10px 0px 4px 0px;
  border-style: solid;
  list-style-type: disk;
  border-color: #3ed067;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px 0px;
}

.card2 {
  background: #ffffff;
  border-width: 10px 0px 4px 0px;
  border-style: solid;
  border-color: #3eadd0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px 0px;
}

.circle-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgba(23, 83, 153, 0.65);
}
.circle-percentage span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #0a2748;
}

/* *************portofolio start************** */

.navbar-portfolio ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 5px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}
.navbar-portfolio li {
  margin: 0px 25px;
  padding: 10px 0px;
}
.navbar-portfolio li:hover {
  color: #1f71d2 !important;
  border-bottom: 1px solid #1a559b;
}

.container-portfolio {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  /* justify-content: space-evenly; */
  margin: 50px 0px 25px 20px;
}
.card {
  width: 352px;
  height: 405px;
  background: #ffffff;
  border-radius: 10px 10px 30px 30px;
  filter: drop-shadow(10px 20px 50px #d5d7dd);
}
.card-logo img {
  width: -webkit-fill-available;
  height: fit-content;
  filter: grayscale(100%);
}
.card-logo img:hover {
  cursor: grab;
  transform: scale(1.13);
  transition: all 0.5s ease-in-out;
  filter: grayscale(0%);
  object-fit: contain;
}
.card-title h2 {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 10px 0px;
}
.card-body p {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}
.card-link {
  margin-top: 25px;
  text-align: right;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 5px;
  color: #165299;
}
.card-link a {
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-viewMore {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
.btn-viewMore button {
  padding: 10px 30px;
}

/* ******blogs****************** */

.nav-blog h2 {
  text-align: center;
  margin: 25px;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #ffffff;
}
.card-logo iconify-icon {
  margin: 10px 0px;
}
.card-logo > .icon-align {
  position: absolute;
  right: 20px;
}
.card-border {
  background: #ffffff;
  box-shadow: 6px 9px 6px rgba(171, 178, 186, 0.23);
  border-radius: 0px 0px 40px 0px;
  border-bottom: 5px solid rgba(31, 113, 210, 1);
}

.commentContainer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(31, 113, 210, 1);
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
}
.commentContainer input {
  width: 100%;
  height: 6vh;
  border: none !important;
  border-radius: 30px;
  margin-left: 5px;
  padding: 15px;
  font-size: 15px;
}
.commentContainer input:focus {
  outline: none !important;
  border: none !important;
}
.commentContainer input:active {
  border: none !important;
  outline: none !important;
}
.commentContainer button {
  padding: 5px 15px;
  font-weight: 400;
  text-align: center;
  height: 5.5vh;
  margin-right: 4px;
  border: 1px solid;
}

/* ***************Contact css********** */
#Contact-page {
  background-image: url(./Images/contactUsImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(109px);
}

#Contact-page h1 {
  color: #fff;
}
.container-Contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.contact-info {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-welcome {
  width: 220px;
  height: 210px;
  background: rgb(0 0 0 / 24%);
  border-left: 4px solid #165299;
  box-shadow: 20px 15px 20px 5px rgb(0 162 255 / 33%);
  border-radius: 50px 100px 0px;
}
.contact-welcome h2 {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  position: relative;
  top: 2rem;
}

.contact-contacts li {
  color: white;
  margin: 10px 0px;
}
/* .messenger-names {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.fname,
.lname {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}
.contact-message {
  width: 50%;
}
.contact-message label {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.contact-message input {
  font-size: 16px;
  padding: 0px 15px;
  /* width: 25vw; */
  height: 3rem;
  background: rgb(255 255 255);
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  /* border-bottom: 3px solid rgb(15, 36, 90); */
  border-radius: 30px;
}

.contact-message input:focus {
  outline: none !important;
}
.messenger-subject {
  margin: 20px 10px;
}
.messenger-subject input {
  width: auto;
}
.lname textarea {
  border: none;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 30px 30px;
}
.lname textarea:focus {
  outline: none !important;
  border-top: 1px solid #1a549b4d;
}
.send-message {
  display: flex;
  align-items: center;
  justify-content: end;
}
.messenger-message button {
  width: 10rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-media li {
  cursor: pointer;
  margin: 1rem 0rem;
}

/* Footer css */
footer {
  /* position: absolute;
  bottom: 0px;
  width: 100%; */
  background-color: rgb(3, 3, 29);
  padding: 2rem 3rem 1.5rem 3rem;
}
.copyright h3 {
  color: white;
  text-align: center;
  font-family: monospace;
  font-weight: 100;
}

/* ******Special class****** */

.hidden {
  display: none;
}
.hidde {
  display: none;
}
.navbarAnimation {
  transition: all 1s ease-in-out;
  transform: translateX(all 1s ease-in);
}

@media screen and (max-width: 800px) {
  .container,
  .myDescription,
  aside {
    display: none;
  }
  .hidden {
    display: contents;
  }
  .mobileProfile {
    width: 10rem;
    height: 10rem;
    display: contents;
  }
  .mobileProfile img {
    border-radius: 50%;
    width: inherit;
    height: inherit;
    margin-bottom: 1rem;
  }
  main {
    margin-top: 50px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    top: 0rem;
    display: inline;
    text-align: center;
  }
  .main h1 {
    color: #165299;
    font-size: 30px;
    font-weight: bolder;
    /* line-height: 1.5; */
  }
  .main h2,
  .main p {
    font-size: 1em;
    width: 70%;
    margin: 0px auto;
  }
  .Btn.cvBtn {
    display: flex;
  }
  .levelS {
    font-weight: 700;
    font-size: 20px;
    color: #959fab !important;
  }
  .btn-exp {
    margin: 2rem auto;
    width: 165px;
    left: 0;
  }

  .btn-display {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .hidden {
    display: contents;
  }
  .cvBtn {
    display: flex;
    font-size: 13px;
    padding: 5px;
  }
  .container-portfolio,
  .containerSkills {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .About-section-end ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .contact-info {
    display: none;
  }
  #Portfolio-page {
    margin-top: 70px;
  }
  section {
    padding: 10px 5px;
    margin-top: 30px;
  }
  .section-title {
    font-size: 20px;
  }
  .card {
    overflow: hidden;
    width: 80%;
    height: auto;
  }
  .card-body {
    margin-bottom: 2rem;
  }
  .contact-message {
    width: 80%;
  }
  .container-Contact {
    margin: 30px 15px;
  }
  .my-image {
    width: 10rem;
    height: 11rem;
  }

  .my-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  /* .btn-exp {
    left: 30%;
  } */
}
@media screen and (max-width: 450px) {
  main {
    height: 100vh;
  }
  .container-Contact {
    margin: 20px 10px;
  }
  .contact-message {
    width: 90%;
  }
  .section-container {
    flex-direction: column;
    gap: 10px;
  }
  .description {
    width: 90%;
    border-bottom: none;
  }
  .section-main {
    width: 60%;
    margin: 0px auto;
  }
}
