<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/mobilenavbar.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="mobileNavBar hidden">
        <div class="mobileMenu">
          <iconify-icon
            inline
            icon="mdi:microsoft-xbox-controller-menu"
            style="color: #1a559b"
            width="30"
            height="30"
          ></iconify-icon>
        </div>
        <div class="mobileAccount">
          <a href="/login.html">
            <iconify-icon
              inline
              icon="material-symbols:account-circle"
              style="color: #1a559b"
              width="30"
              height="30"
            ></iconify-icon>
          </a>
        </div>
      </div>
      <div class="menu hidden">
        <div class="mobilenavlist">
          <div class="navbarLinks">
            <ul>
              <a href="#Home-page"> <li>Home</li></a>
              <a href="#AboutPage"> <li>About</li></a>
              <a href="#Skills-page"><li>Skills</li></a>
              <a href="#Portfolio-page"><li>Portfolio</li></a>
              <a href="#Blog-page"><li>Blog</li></a>
              <a href="#Contact-page"><li>Contact</li></a>
            </ul>
          </div>
          <div class="closeBtn">
            <iconify-icon
              icon="material-symbols:close"
              style="color: #1a559b"
              width="25"
              height="25"
            ></iconify-icon>
          </div>
        </div>
      </div>
    </header>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
  </body>
</html>
